---
import BaseLayout from "./BaseLayout.astro";
import LeftSideBar from "../components/LeftSideBar.astro";
import RightSideBar from "../components/RightSideBar.astro";
import NavBar from "../components/NavBar.astro"
import Footer from "../components/Footer"
import { getPreviousDoc, getNextDoc } from "../util/docs"
import MobileTableOfContents from "../components/MobileTableOfContents";

const { frontmatter, headings } = Astro.props;

const previousDoc = getPreviousDoc(
  frontmatter.section,
  frontmatter.order
);
const nextDoc = getNextDoc(
  frontmatter.section,
  frontmatter.order
);
---

<BaseLayout title={frontmatter.title}>
  <NavBar />
	<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 min-h-screen">
    <main>
      <div class="flex flex-row pt-8">
        <LeftSideBar/>
        <div class="sm:px-12 flex flex-col items-center">
          <article class="prose max-w-none sm:prose-sm md:prose-base lg:prose-lg xl:prose-xl prose-code:before:hidden prose-code:after:hidden">
            <h1 id="overview">{frontmatter.title}</h1>
            <MobileTableOfContents headings={headings} client:load/>
            <slot/>
            <div class="flex flex-row justify-between pt-8">
              {previousDoc
                ? <a href={previousDoc.link}><span class="inline-block rotate-180 pl-2">➜</span>{previousDoc.title}</a>
                : <span/>}
              {nextDoc
                ? <a href={nextDoc.link}>{nextDoc.title}<span class="inline-block pl-2">➜</span></a>
                : <span/>}
            </div>
          </article>
          <Footer/>
        </div>
        <RightSideBar headings={headings} />
      </div>
    </main>
	</div>
</BaseLayout>
